@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="weapons">
		<p id="currentWeapon">@PlayerWeapons.CurrentWeapon.FriendlyName</p>
		<div id="weaponArray">
			<div id="weaponEntry">weap 1</div>
			<div id="weaponEntry">weap 2</div>
			<div id="weaponEntry">weap 3</div>
			<div id="weaponEntry">4</div>
			<div id="weaponEntry">555555</div>
			<div id="weaponEntry">6</div>
		</div>
	</div>
</root>

@code
{
	[Property] PlayerWeapons PlayerWeapons { get; set; }

	
	
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash()
	{
		return System.HashCode.Combine(PlayerWeapons.CurrentWeapon);
	}
}
